aiohttp==2.3.7
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
dataset==1.0.5
wolframalpha==3.0
strawpoll.py==0.2.0
janus==0.3.0
aioprocessing==1.0.0
aiomysql==0.0.11
psutil==5.4.3
stuf==0.9.16
Pillow==5.0.0
aiocache==0.8.0
